body{
  font-family: Arial;
}

.container{
  display: grid;
  /* grid-template-columns: 25% 200px 25%; */
  /* grid-template-rows: 300px 150px; */
  grid-template: 300px 150px  100px 100px/ 50% 200px 100px;
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.item:nth-of-type(4) {
  overflow: auto;
  background: blue;
  display: grid;
  grid-template: 49% 49%/ 32% 32% 32%;
  grid-gap: 2% 2%;
  /* grid-column-gap: 2%; */
}

.item .sub_item{
  background: yellow;
  padding: 10px;
  border: 1px solid red;
  /* margin: 0 1px; */
}
